html {
  scroll-behavior: smooth;
   }

body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }


.navbar {
    transition: all 0.4s;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%) ,url(...);
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: turquoise ;
    text-decoration: none;
    border-bottom : 2px solid turquoise ;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%),  url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
  }
  .about-section p {
    margin-bottom: 5rem;
  }
  
div.div1 {
    background-color: #555 ;
    opacity: 0.75;
}

.projects-section {
    padding: 10rem 0;
  }
  .projects-section .featured-text {
    padding: 2rem;
  }
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: #64a19d;
      border-width: 0.25rem;
      width: 30%;
    }
  }

  
.bg-dark {
    background-color: #343a40 !important;
  }
  
  a.bg-dark:hover, a.bg-dark:focus,
  button.bg-dark:hover,
  button.bg-dark:focus {
    background-color: #1d2124 !important;
  }
  
  .bg-black {
    background-color: #000000 !important;
  }
  
  a.bg-black:hover, a.bg-black:focus,
  button.bg-black:hover,
  button.bg-black:focus {
    background-color: black !important;
  }

  .mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    .contact-section {
        padding-top: 5rem;
      }
      .contact-section .card {
        border: 0;
        border-bottom: 0.25rem solid #64a19d;
      }
      .contact-section .card h4 {
        font-size: 0.8rem;
        font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        text-transform: uppercase;
        letter-spacing: 0.15rem;
      }
      .contact-section .card hr {
        border-color: #64a19d;
        border-width: 0.25rem;
        width: 3rem;
      }
      .contact-section .social {
        margin-top: 5rem;
      }
      .contact-section .social a {
        text-align: center;
        height: 3rem;
        width: 3rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100%;
        line-height: 3rem;
        color: rgba(255, 255, 255, 0.3);
      }
      .contact-section .social a:hover {
        color: rgba(255, 255, 255, 0.5);
      }
      .contact-section .social a:active {
        color: #fff;
      }
      
      .footer {
        padding: 5rem 0;
      }

      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
      }
      .card > hr {
        margin-right: 0;
        margin-left: 0;
      }
      .card > .list-group {
        border-top: inherit;
        border-bottom: inherit;
      }
      .card > .list-group:first-child {
        border-top-width: 0;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
      }
      .card > .list-group:last-child {
        border-bottom-width: 0;
        border-bottom-right-radius: calc(0.25rem - 1px);
        border-bottom-left-radius: calc(0.25rem - 1px);
      }
      
      .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
      }
      
      .card-title {
        margin-bottom: 0.75rem;
      }
      
      .card-subtitle {
        margin-top: -0.375rem;
        margin-bottom: 0;
      }
      
      .card-text:last-child {
        margin-bottom: 0;
      }
      
      .card-link:hover {
        text-decoration: none;
      }
      .card-link + .card-link {
        margin-left: 1.25rem;
      }
      
      .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      }
      .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      }
      .card-header + .list-group .list-group-item:first-child {
        border-top: 0;
      }
      
      .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: rgba(0, 0, 0, 0.03);
        border-top: 1px solid rgba(0, 0, 0, 0.125);
      }
      .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
      }
      
      .card-header-tabs {
        margin-right: -0.625rem;
        margin-bottom: -0.75rem;
        margin-left: -0.625rem;
        border-bottom: 0;
      }
      
      .card-header-pills {
        margin-right: -0.625rem;
        margin-left: -0.625rem;
      }
      
      .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem;
      }
      
      .card-img,
      .card-img-top,
      .card-img-bottom {
        flex-shrink: 0;
        width: 100%;
      }
      
      .card-img,
      .card-img-top {
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
      }
      
      .card-img,
      .card-img-bottom {
        border-bottom-right-radius: calc(0.25rem - 1px);
        border-bottom-left-radius: calc(0.25rem - 1px);
      }
      
      .card-deck .card {
        margin-bottom: 0.75rem;
      }
      @media (min-width: 576px) {
        .card-deck {
          display: flex;
          flex-flow: row wrap;
          margin-right: -0.75rem;
          margin-left: -0.75rem;
        }
        .card-deck .card {
          flex: 1 0 0%;
          margin-right: 0.75rem;
          margin-bottom: 0;
          margin-left: 0.75rem;
        }
      }
      
      .card-group > .card {
        margin-bottom: 0.75rem;
      }
      @media (min-width: 576px) {
        .card-group {
          display: flex;
          flex-flow: row wrap;
        }
        .card-group > .card {
          flex: 1 0 0%;
          margin-bottom: 0;
        }
        .card-group > .card + .card {
          margin-left: 0;
          border-left: 0;
        }
        .card-group > .card:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .card-group > .card:not(:last-child) .card-img-top,
      .card-group > .card:not(:last-child) .card-header {
          border-top-right-radius: 0;
        }
        .card-group > .card:not(:last-child) .card-img-bottom,
      .card-group > .card:not(:last-child) .card-footer {
          border-bottom-right-radius: 0;
        }
        .card-group > .card:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .card-group > .card:not(:first-child) .card-img-top,
      .card-group > .card:not(:first-child) .card-header {
          border-top-left-radius: 0;
        }
        .card-group > .card:not(:first-child) .card-img-bottom,
      .card-group > .card:not(:first-child) .card-footer {
          border-bottom-left-radius: 0;
        }
      }
      
      .card-columns .card {
        margin-bottom: 0.75rem;
      }
      @media (min-width: 576px) {
        .card-columns {
          -moz-column-count: 3;
               column-count: 3;
          -moz-column-gap: 1.25rem;
               column-gap: 1.25rem;
          orphans: 1;
          widows: 1;
        }
        .card-columns .card {
          display: inline-block;
          width: 100%;
        }
      }
      
      .accordion > .card {
        overflow: hidden;
      }
      .accordion > .card:not(:last-of-type) {
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .accordion > .card:not(:first-of-type) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .accordion > .card > .card-header {
        border-radius: 0;
        margin-bottom: -1px;
      }
    /*Newly added for skills bar*/
#myProgress {
  width : 100% ;
  background-color: #03102A ; 
}
    
#myBar {
  width: 90% ;
  height : 30px ;
  background-color: aquamarine;
  text-align : center;
  color: black ;
  border-radius: 12px;
    }

    #myProgress {
      width : 100% ;
      background-color: #03102A ;
      border-radius: 12px; 
    }
        
    #myBar1 {
      width: 75% ;
      height : 30px ;
      background-color: aquamarine;
      text-align : center;
      color: black ;
      border-radius: 12px; 
        }
        #myProgress1 {
          width : 100% ;
          background-color: #03102A ;
          border-radius: 12px;  
        }
        #myBar2 {
          width: 15% ;
          height : 30px ;
          background-color: aquamarine;
          text-align : center;
          color: black ;
          border-radius: 12px; 
            }
            #myProgress2 {
              width : 100% ;
              background-color: #03102A ;
              border-radius: 12px;  
            }

                
            #myBar3 {
              width: 45% ;
              height : 30px ;
              background-color: aquamarine;
              text-align : center;
              color: black ;
              border-radius: 12px; 
                }
                #myProgress3 {
                  width : 100% ;
                  background-color: #03102A ;
                  border-radius: 12px;  
                }
                    
                #myBar4 {
                  width: 10% ;
                  height : 30px ;
                  background-color: aquamarine;
                  text-align : center;
                  color: black ;
                  border-radius: 12px; 
                }
                #myProgress4 {
                    width : 100% ;
                    background-color: #03102A ;
                    border-radius: 12px;  
                  }
                      
                  #myBar5 {
                    width: 50% ;
                    height : 30px ;
                    background-color: aquamarine;
                    text-align : center;
                    color: black ;
                    border-radius: 12px; 
                  }
                    #myProgress5 {
                      width : 100% ;
                      background-color: #03102A ;
                      border-radius: 12px;  
                    }
section.sect1 {
  padding: 20px;
}

section.sec1 {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%),  url("bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-radius:12px;
}

